################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnanikaCreations/.vscode
/AnanikaCreations/apps/employeeManagement/.vs
